body {
	background: rgb(255,176,187);
	background: linear-gradient(0deg, rgba(255,176,187,1) 0%, rgba(223,253,255,1) 50%, rgba(255,232,183,1) 100%);
}
        
#content {
	width: 960px;
	margin: 0 auto;
	box-shadow: 0em 1em 1em 0.5em rgba(0, 0, 0, 1);
	border-radius: 1em;
  	font-family: Arial, Times New Roman;
  	font-weight: bolder;
  	font-size: larger;
}

main {
  	padding: 1em;
}

h1 {
	position: relative;
	text-align: center;
}

h2 {
	position: relative;
	text-align: center;
  	font-family: "Exo 2", sans-serif;
}

.imgc {
	position: relative;
	left:25%;
}

img {
	height: 30em;
	aspect-ratio: 16 / 9;
}

.slides {
	position: relative;
  	padding:1em;
  	display: none;
}

.text {
  	display:none;
}

audio {
	width: 100%;
}

#header {
	position: relative;
	text-align: center;
	margin-top: 8em;
	border-radius: 2em 2em 0em 0em;
}

#proj-nav {
	float: left;
	width: 100%;
	background-color: #555;
}

#proj-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	left:50%;
}

#proj-nav ul li {
	padding: 0.5em 1em;
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

#proj-nav ul li a {
	text-decoration: none;
	color: #FFEFD5;
}

#proj-nav ul li a:hover {
	background-color: #FFEFD5;
	color: #666666;
}

#map {
	position: relative;
	top: 1em;
	margin: 1em auto;
	width: 90%;
	height: 40em;
	border: 1em solid blue;
}

* {box-sizing:border-box}

.mh-pics {
  	max-width: 1000px;
  	position: relative;
  	margin: auto;
}

.slides {
  	position: relative;
	aspect-ratio: 16 / 9;
  	padding:2em;
}
  
.prev, .next {
  	cursor: pointer;
  	position: absolute;
 	top: 50%;
  	width: auto;
 	margin-top: -22px;
 	padding: 16px;
 	color: white;
 	font-weight: bold;
 	font-size: 18px;
 	transition: 0.6s ease;
 	border-radius: 0 3px 3px 0;
 	user-select: none;
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  	background-color: rgba(0,0,0,0.8);
}

.numbertext {
  	color: #f2f2f2;
  	font-size: 12px;
  	padding: 8px 12px;
  	position: absolute;
  	top: 0;
}

.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #717171;
}


@media screen and (min-width: 800px) {

  #content {
    	font-weight: normal;
    	font-size: medium;
  }
}